.header-back{
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    background-color:#FFFFFF;
    border-bottom:1px solid #d3d1d1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header{
    width:935px;
    height:50px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}.home{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:150px;
}.home div{
    background-color:#d3d1d1;
    width:1px;
    height:22px;
}.home img{
    width:103px;
    height:31px;
}.home-icon{
    width:22px;
    height:22px;
    text-decoration:none;
    color:black;
}.header input{
    background-color:#FAFAFA;
    border-style:solid;
    border-width:0.5px;
    color:#dbdbdb;
    border-color:#dbdbdb;
    border-radius:4px;
    height:26px;
    width:215px;
}::placeholder {
    text-align: center; 
    color:#979797;
    font-family:Roboto;
    font-size:12px;
}.header-items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:140px;
    height:30px;
}.header-icon{
    width:20px;
    height:20px;
    text-decoration:none;
    color:black;
}.mobile-header-back{
    display:none;
    width:100%;
    height:35px;
}.mobile-header{
    top:0;
    left:0;
    width:100%;
    display:none;
    background-color:#FFFFFF;
    border-bottom:1px solid #d3d1d1;
    z-index:3;
}.mobile-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:95%;
    margin-top:7px;
    margin-bottom:5px;
}