.page-back{
    background-color:#E5E5E5;
}
.page{
    margin:auto;
    width:935px;
    height:1000px;
    display:flex;
    align-items:flex-start;
}.stories{
    background-color:orange;
    width:614px;
    height:118px;
}.posts{
    background-color:blue;
    width:614px;
    height:100%;
}