@media(max-width:935px){
    .header{
        width:95%;
    }.sidebar{
        width:0%;
        display:none;
    }.page{
        display: flex;
        justify-content: center;
        width:100%;
    }.page-posts{
        margin:auto;
    }
}
/*MOBILE*/
@media(max-width:614px){
    .mobile-header{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .header-back{
        display:none;
    }
}